<section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="About me">
    <div
        class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
        <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">About</h2>
    </div>
    <div>
        <p class="mb-4">I’m a passionate web developer dedicated to building scalable, high-performance digital
            experiences. With expertise in Angular, Java, and Python, I specialize in crafting robust, user-friendly
            applications that seamlessly blend efficiency, usability, and modern design. I thrive on solving complex
            technical challenges, optimizing system performance, and continuously learning to stay ahead in the
            ever-evolving tech landscape.</p>
        <p class="mb-4">Currently, I'm a Fullstack Engineer at (Java - angular)<!-- --> <a
                class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
                href="http://hypercell.net/" target="_blank" rel="noreferrer noopener"
                aria-label="Klaviyo (opens in a new tab)"> hypercell</a>,I play a key role in designing and developing
            scalable, high-performance web applications using Angular and Java (Spring Boot).</p>
        <p class="mb-4">Building Modular & Responsive Applications: Developed a single-page web application (SPA) using
            Angular, ensuring a seamless and responsive user experience.
            Reusable Component Development: Created a component library with Angular Material, accelerating development
            speed and maintaining UI consistency.
            Microservices Architecture Implementation: Designed and implemented a microservices-based system, improving
            modularity and reducing dependencies.
            Third-Party API Integrations: Integrated multiple APIs for real-time data exchange, enhancing the system’s
            efficiency and responsiveness.
            Refactoring & Performance Optimization: Improved legacy code to boost reliability, scalability, and
            maintainability.
            Full Stack Development: Worked on both frontend (Angular, HTML, CSS, TypeScript) and backend (Java, Spring
            Boot, SQL, MongoDB) to deliver end-to-end solutions. </p>
        <p>In my spare time, I’m usually playing soccer, reading, gym, or watching Movies<!-- --> <span
                class="group/korok inline-flex lg:cursor-[url('/images/koroks/Elma.png'),_pointer] lg:font-medium lg:text-slate-200"><span
                    class="sr-only">Letterboxed</span><span
                    class="group-hover/korok:text-red-400 transition duration-75 group-hover/korok:-translate-y-px delay-[50ms]"
                    aria-hidden="true">L</span><span
                    class="group-hover/korok:text-orange-400 transition duration-75 group-hover/korok:-translate-y-px delay-[75ms]"
                    aria-hidden="true">e</span><span
                    class="group-hover/korok:text-yellow-400 transition duration-75 group-hover/korok:-translate-y-px delay-[100ms]"
                    aria-hidden="true">tt</span><span
                    class="group-hover/korok:text-lime-400 transition duration-75 group-hover/korok:-translate-y-px delay-[125ms]"
                    aria-hidden="true">e</span><span
                    class="group-hover/korok:text-green-400 transition duration-75 group-hover/korok:-translate-y-px delay-[150ms]"
                    aria-hidden="true">r</span><span
                    class="group-hover/korok:text-teal-400 transition duration-75 group-hover/korok:-translate-y-px delay-[175ms]"
                    aria-hidden="true"></span><span
                    class="group-hover/korok:text-cyan-400 transition duration-75 group-hover/korok:-translate-y-px delay-[200ms]"
                    aria-hidden="true">bo</span><span
                    class="group-hover/korok:text-sky-400 transition duration-75 group-hover/korok:-translate-y-px delay-[225ms]"
                    aria-hidden="true">x</span><span
                    class="group-hover/korok:text-blue-400 transition duration-75 group-hover/korok:-translate-y-px delay-[250ms]"
                    aria-hidden="true">e</span><span
                    class="group-hover/korok:text-indigo-400 transition duration-75 group-hover/korok:-translate-y-px delay-[275ms]"
                    aria-hidden="true">d</span><span
                    class="group-hover/korok:text-violet-400 transition duration-75 group-hover/korok:-translate-y-px delay-[300ms]"
                    aria-hidden="true"></span></span>.</p>
    </div>
</section>