<div class="bg-slate-900 leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900">
  <div id="__next">
  <div class="__variable_20b187 group/spotlight relative">
    <div class="pointer-events-none fixed inset-0 z-30 transition duration-300 lg:absolute"
      style="background: radial-gradient(600px at 561px 1221px, rgba(29, 78, 216, 0.15), transparent 80%);"></div>
    <div class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-16 lg:py-0"><a href="#content"
        class="absolute left-0 top-0 block -translate-x-full rounded bg-gradient-to-br from-teal-400 via-blue-500 to-purple-600 px-4 py-3 text-sm font-bold uppercase tracking-widest text-white focus-visible:translate-x-0">Skip
        to Content</a>
      <div class="lg:flex lg:justify-between lg:gap-4">
        <app-header class="w-full"></app-header>
        <main id="content" class="pt-24 lg:w-full lg:py-24">
        <app-main></app-main>
        <app-expreince></app-expreince>
         
          <footer class="max-w-md pb-16 text-sm text-slate-500 sm:pb-0">
            <p>Loosely designed in<!-- --> <a href="https://www.figma.com/"
                class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300" target="_blank"
                rel="noreferrer noopener" aria-label="Figma (opens in a new tab)">Figma</a> <!-- -->and coded in<!-- -->
              <a href="https://code.visualstudio.com/"
                class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300" target="_blank"
                rel="noreferrer noopener" aria-label="Visual Studio Code (opens in a new tab)">Visual Studio Code</a>
              <!-- -->by yours truly. Built with<!-- --> <a href="https://nextjs.org/"
                class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300" target="_blank"
                rel="noreferrer noopener" aria-label="Next.js (opens in a new tab)">Next.js</a> <!-- -->and<!-- --> <a
                href="https://tailwindcss.com/"
                class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300" target="_blank"
                rel="noreferrer noopener" aria-label="Tailwind CSS (opens in a new tab)">Tailwind CSS</a>, deployed
              with<!-- --> <a href="https://vercel.com/"
                class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300" target="_blank"
                rel="noreferrer noopener" aria-label="Vercel (opens in a new tab)">Vercel</a>. All text is set in
              the<!-- --> <a href="https://rsms.me/inter/"
                class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300" target="_blank"
                rel="noreferrer noopener" aria-label="Inter (opens in a new tab)">Inter</a> <!-- -->typeface.</p>
          </footer>
        </main>
        <div class="absolute bottom-0 right-0"><button
            class="hover:-text-teal-300 inline-flex items-center px-2 py-4 font-medium text-slate-400 hover:-translate-y-2 focus-visible:text-teal-300"
            type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="radix-:R4l6:"
            data-state="closed"><span class="sr-only">Click to time travel</span><img
              alt="Spinning Tardis from Doctor Who" loading="lazy" width="100" height="86" decoding="async"
              data-nimg="1" style="color:transparent"
              srcset="/_next/image?url=%2Fimages%2Ftardis%2Frotate.gif&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fimages%2Ftardis%2Frotate.gif&amp;w=256&amp;q=75 2x"
              src="/_next/image?url=%2Fimages%2Ftardis%2Frotate.gif&amp;w=256&amp;q=75"></button></div>
      </div>
    </div>
  </div>
</div>
</div>
